{{extend 'layout.html'}}
{{resp}}

<p>requestinfo</p>
<p>{{=resp['requestInfo']}}</p>
<p>pagination</p>
<p>{{=resp['pagination']}}</p>
<p>stores</p>
<p>{{resp['stores']}}</p>
<Table border=1>
    <th>Imagem</th>
    <th>Nome</th>
    <th>Comissão</th>
    <th>Id</th>
    <th>Ofertas</th>
    <th>Eventos</th>
{{for r in resp['stores']:}}
{{if int(r['hasOffer']) > 0:}}
<tr>
 <td> <img src="{{=r['thumbnail']}}"></td> 
    <td> {{=r['name']}}</td>
<td>{{=r['maxCommission']}}</td>
<td>{{=r['id']}}</td>
<td>{{=r['hasOffer']}}</td>
<td>
    {{=r['events']}}
</td>
</tr>
{{pass}}
{{pass}}
</Table>