{{extend 'layout.html'}}
{{resp}}

<p>
    Lojas
</p>
<Table border=1>
    <th>Imagem</th>
    <th>Nome</th>
    <th>Comissão</th>
    <th>Id</th>
    <th>Ofertas</th>
    <th>Eventos</th>
{{for r in resp['stores']:}}
{{if int(r['hasOffer']) > 0:}}
<tr>
 <td> <img src="{{=r['thumbnail']}}"></td> 
    <td> {{=r['name']}}</td>
<td>{{=r['maxCommission']}}</td>
<td>{{=r['id']}}</td>
<td>{{=r['hasOffer']}}</td>
<td>
    <table border = "1">
        <th>Tipo evento</th>
        <th>evento</th>
        <th>Comi. fixa</th>
        <th>comissão</th>
        {{for e in r['events']:}}
        <tr>
       <td>{{=e['eventType']}}</td>
       <td>{{=e['event']}}</td>
       <td>{{=e['fixedCommission']}}</td> 
       <td>{{=e['commission']}}</td> 
       </tr>
        
        {{pass}}
    </table>
    {{r['events']}}
</td>
</tr>
{{pass}}
{{pass}}
</Table>
